.board-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    box-shadow: 0 5px 20px #000;
}

.board-container>* {
    background-color: rgb(221, 220, 218);
    border: 1px solid #000;
}

.box,
.box-shaded {
    position: relative;
}

.board-container .box {
    background-color: #106d1f;
}

.piece,
.piece-black {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
}

.highlighted {
    border: #16e4ff 2px solid;
}